{% extends "base.html" %}

{% block titulo %} Ayuda {% endblock %}

{% block contenido %} 

{% load static %}

<main>
    <div class="conainer-tatuajes">
        <h2 class="title">Ayuda</h2>
        <div class="container-tatu_galeria">
            <div class="container-help">
                <h2 class="title">¿Donde podes encontrarme?</h2>
                <p class="text-css_center"><a href="#" target="_blank" class="text-css">Malabia 2123 5B</a></p>
            </div>
            <div class="container-help">
                <h2 class="title">¿Como puedo pagar el tatuaje?</h2>
                <p class="text-css_center">Se aceptan todos los medios de pagos</p>
            </div>
            <div class="container-help">
                <h2 class="title">Tips</h2>
                <div class="conteiner-datos">
                    <h4 class="sub-title"><b>Cuidados:</b></h4>
                    <p class="text-css">El cuidado del tatuaje nuevo, varia segun el tipo y el tamaño del trabajo realizado. Pero siempre tendrias que tener en cuenta los siguientes tips:</p><br>
                    <div class="conteiner-lista-cuidado">
                        <h5 class="sub-title"><b>- La piel tatuada limpia:</b></h5>
                        <p class="text-css">Usar agua y jabón blanco. Mientras te bañes, evita que le den chorros de agua directos sobre el tatuaje. Evitar frotarla, siempre secarlo dando toques suaves</p>
                        <h5 class="sub-title"><b>- Usar humectante:</b></h5>
                        <p class="text-css">Aplicar un humectante suave sobre el tatuaje, varias veces al día.</p>
                        <h5 class="sub-title"><b>- Evitar exponer al sol:</b></h5>
                        <p class="text-css">No exponer el tatuaje al sol por lo menos unas semanas</p>
                        <h5 class="sub-title"><b>- Evitar nadar:</b></h5>
                        <p class="text-css">No exponer la piel tatuada en masas de aguas hasta que se cure, ya sea piscina, lagos, etc.</p>
                        <h5 class="sub-title"><b>- Usar ropa con cuidado:</b></h5>
                        <p class="text-css">Evitar el uso de conteiner-maparopa que pueda llegar a adherirse al tatuaje.</p>
                        <h5 class="sub-title"><b>- Esperar un lapso de 2 semanas hasta que se cure:</b></h5>
                        <p class="text-css">No sacarse las costras del tatuaje, para evitar infección, tambien podría dañar el diseño y porvocaría cicatrícez.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}